
.main {
	height: 100vh;
	width: 100vw;
}

.caja-registro {
	display: flex;
	flex-direction: column;
	
	margin-top: 3em;
}

.caja-registro > * {
	width: 100%;
}

.error {
	color: rgb(231, 27, 27);
	font-weight: bold;
	text-align: center;
}
.success{
	color: rgb(28, 185, 28);
	font-weight: bold;
	text-align: center;	
}

mat-card {
    display: flex;
    flex-flow: column;	
}

.password mat-form-field {
	margin-right: 1em;
}

.cardExpireDate mat-form-field {
	margin-right: 1em;
}

.userNameEmail mat-form-field {
	margin-right: 1em;
}

.phoneAddress mat-form-field {
	margin-right: 1em;
}

.userNaameEmail mat-form-field {
	margin-right: 1em;
}


