
<button class="boton buttonModal" (click)="openDialog()">Detail</button>

<div id="fondoModal" [class]="isVisible ? 'visible' : 'hidden'"  (click)="closeDialog($event)">
	
	<div [class]="isVisible ? 'modal animate-top' : 'modal'">
		
		<button class="xButton" (click)="closeDialog()">X</button>
		
		<div class="header">
		</div>
		
		<div class="body">
			
			<div class="image">
				<img src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" alt="">
			</div>
			
			<div class="text">
				<h1>{{movie.title}}</h1>
				<h2>{{movie.releaseYear}}</h2>
				<h3>{{movie.strGenres}}</h3>
				<p>{{movie.overview}}</p>
			</div>
			
		</div>
		
		<div class="footer">
			<button class="botonVerde" (click)="pulsaOrder(movie)">ORDER NOW</button>
		</div>
		
	</div>
	
</div>

