
<h1>Most popular</h1>

<div class="movies">
	<div class="card" *ngFor="let _x of mostPopularMovies">
		
		<img class="moviePoster" src="https://image.tmdb.org/t/p/w200/{{_x.poster_path}}" alt="poster">
		
		<app-modal [movie]="_x"></app-modal>
		
	</div>

</div>



<div class="cajaDropdown">
	
	<!-- <mat-label>Genre: {{selected}}</mat-label> -->
	
	<mat-select [(value)]="selected">
		<mat-option *ngFor="let _x of generos" [value]="_x[0]" (click)="searchByGenre(selected)">
			{{_x[1]}}
		</mat-option>
		
	</mat-select>
	
</div>



<div class="movies">
	<div class="card" *ngFor="let _x of genreMovies">

		<img class="moviePoster" src="https://image.tmdb.org/t/p/w200/{{_x.poster_path}}" alt="poster">

		<app-modal [movie]="_x"></app-modal>

	</div>

</div>


