


<div class="movies">
	<div class="card" *ngFor="let _x of movieService.getMoviesFound()">
		
		<img src="https://image.tmdb.org/t/p/w200/{{_x.poster_path}}" alt="poster">
		
		
		<div class="description">
			<h1>{{_x.title}}</h1>
			
			<p class="info">{{_x.genre_ids}} 2019</p>
			
			<p>{{_x.overview}}</p>
		</div>
		
	</div>
</div>



<!-- 
<div class="movies">
	<div class="movie" *ngFor="let _x of movieList">
		<mat-card class="example-card">
			
			<mat-card-header>
				<div mat-card-avatar class="avatar">
					<img mat-card-image src="https://image.tmdb.org/t/p/w200/{{_x.poster_path}}" alt="poster">
				</div>
				<mat-card-title>{{_x.title}}</mat-card-title>
				<mat-card-subtitle>{{_x.genre_ids}}</mat-card-subtitle>
			</mat-card-header>
			
			<mat-card-content>
				<p>{{_x.overview}}</p>
			</mat-card-content>
			
			<mat-card-actions>
				<button mat-button>DETAIL</button>
				<button mat-button>ORDER</button>
			</mat-card-actions>
			
		</mat-card>
	</div>
</div> -->