
<div class="main">
	<div class="caja">
		
		<h2>{{userData.username}}</h2>
		
		
		<p>Email</p>
		<h3>{{userData.email}}</h3>
		
		
		<p>Phone</p>
		<h3>{{userData.phone}}</h3>
		
		
		<p>Address</p>
		<h3>{{userData.address}}</h3>
		
		
		<p>Card number</p>
		<h3>{{userData.billing.cardNumber}}</h3>
		
		
		<p>Card owner</p>
		<h3>{{userData.billing.cardOwner}}</h3>
		
		
		<p>Card expire date</p>
		<h3>{{userData.billing.cardExpireDate[0]}} / {{userData.billing.cardExpireDate[1]}}</h3>
		
	</div>
</div>


