/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/purple-green.css';


html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background: rgb(42, 42, 42);
	color: white;
}


* {
    box-sizing: border-box;
}

.cenX {
    display: flex;
    justify-content: center;
}

.cenY {
	display: flex;
    justify-content: center;
}

.cenXY {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-flow: column;
}

.pushTop {
    display: flex;
    align-items: flex-start;
}

.pushBot {
    display: flex;
    align-items: flex-end;
}

.stretchY {
    display: flex;
    align-items: stretch;
    justify-content: center;
}



.boton {
	background-color: rgb(49, 49, 49);
	color: white;
	border: none;
	
	text-align: center;
	text-decoration: none;
	
	display: inline-block;
	font-size: 1.1em;
	padding: 0.5em 0.8em;
	
	transition-duration: 0.25s;
	cursor: pointer;
	
}
.boton:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(29, 29, 29);
}


.mr-1 {
	margin-right: 0.2em;
}
.mr-2 {
	margin-right: 0.4em;
}
.mr-3 {
	margin-right: 0.6em;
}
.mr-4 {
	margin-right: 0.8em;
}