/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/purple-green.css';


html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background: rgb(42, 42, 42);
	color: white;
}


* {
    box-sizing: border-box;
}

.cenX {
    display: flex;
    justify-content: center;
}

.cenY {
	display: flex;
    justify-content: center;
}

.cenXY {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-flow: column;
}

.pushTop {
    display: flex;
    align-items: flex-start;
}

.pushBot {
    display: flex;
    align-items: flex-end;
}

.stretchY {
    display: flex;
    align-items: stretch;
    justify-content: center;
}


.animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}



.boton {
	background-color: rgb(49, 49, 49);
	color: white;
	border: none;
	
	text-align: center;
	text-decoration: none;
	
	display: inline-block;
	font-size: 1.1em;
	padding: 0.5em 0.8em;
	
	transition-duration: 0.25s;
	cursor: pointer;
	
}
.boton:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(29, 29, 29);
}


.botonVerde {
	background-color: rgb(31, 207, 0);
	color: rgb(0, 0, 0);
	border: none;
	
	text-align: center;
	text-decoration: none;
	
	display: inline-block;
	font-size: 1.1em;
	padding: 0.5em 0.8em;
	
	transition-duration: 0.25s;
	cursor: pointer;
	
	// transition: transform 0.3s;
	
}
.botonVerde:hover {
	background-color: rgb(128, 255, 43);
	color: rgb(0, 0, 0);
	// transform: scale(1.2, 1.2);
}


.mr-1 {
	margin-right: 0.2em;
}
.mr-2 {
	margin-right: 0.4em;
}
.mr-3 {
	margin-right: 0.6em;
}
.mr-4 {
	margin-right: 0.8em;
}